@use "@utils/colors" as *;

.list-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: space-between;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;

  .search {
    width: 50%;
    position: relative;

    input {
        height: 35px;
        width: 100%;
        border-radius: 5px;
        border:none;
        font-size :17px;
        padding-left: 10px;

        &:disabled {
            background-color: white;
        }
    }

    button {
        top: 8px;
        right: 0px;
        height: 20px;
        font-size: 10px;
        position: absolute;
        cursor: pointer;
        background-color: $red-1;
        border:none;
        color: white;
        border-radius: 10px;
    }
  }

  .card-list {
    margin-top:20px;
    padding-bottom:80px;
    height: 500px;
    max-height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .paginator {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    padding-bottom:20px;
    z-index: 999;
    width: 110%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red-1-dark;
  }
}

@media (max-width: 900px) {
    .list-container {
        height: 80%;
    }
}