@use '@utils/colors' as *;

.button {
  width: 80%;
  background-color: $purple-1;
  border:none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing:3px;
  border-radius: 30px;
  height: 40px;
  transition: .6s ease-in-out;

  &:hover {
    transition: .6s ease-in-out;
    border-radius: 5px;
    background-color: $purple-1-hover;
  }

  &:disabled {
    background-color: gray;
    opacity: .5;
    cursor: default;
  }
}