.button {
  width: 80%;
  background-color: rgb(101, 101, 245);
  border:none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing:3px;
  height: 40px;
  transition: .6s ease-in-out;

  &:hover {
    transition: .6s ease-in-out;
    border-radius: 15px;
    background-color: rgb(65, 65, 182);
  }
}