@use '@utils/colors' as *;

.user {
    padding-left: 20px;
    padding-right:25px;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $red-1-light;
    background-color:  $red-1-dark2;

    a {
        font-size:12px;
    }

    .picture {
        width: 35px;
        margin-right:15px;
        margin-left:-5px;
    }

    .logout {
        color: red;
        margin-right: -10px;
        margin-left:15px;
        margin-top:3px;
        cursor: pointer;

        img {
            width: 25px;
        }
    }
}

@media (max-width: 900px) {
    .name {
        font-size: 14px;
    }
}