@use '@utils/colors' as *;

.character-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 20px;
    overflow: auto;
    scrollbar-width: none;

    .information {
        border-radius: 20px 0px 0px 20px;
        background-color: rgba(0, 0, 0, 0.405);
        width: calc(20% - 1px);
        min-width: 200px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        
        color: white;

        .name {
            margin-top: 10px;
            font-size: 25px;
            font-weight: bold;
        }

        .description {
            text-align: center;
            font-size: 12px;
            line-height: 19px;
            padding: 10px;
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .modified {
            position: absolute;
            bottom:20px;
            background-color:$purple-1-hover;
            padding: 12px 20px 12px 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            line-height: 10px;
            font-weight: bold;

             a {
                font-weight: lighter;
                padding:2px;
                font-size: 10px;
                line-height: 5px;
                text-align: center;
             }
        }
    }
    
    .content {
        width: 80%;
        height: 100%;
        min-width: 200px;
        background-color: rgba(0, 0, 0, 0.305);
        border-radius: 0px 20px 20px 0px;
        overflow: auto;
        scrollbar-width: none;
        display: flex;

        .block {
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin-bottom: 10px;
            width: 25%;
            height: 100%;

            .title {
                font-size: 13px;
                color: white;
                padding: 6px;
            }

            .block-content {
                display: flex;
                flex-wrap: wrap;

                .card-content {
                    margin-left: 5px;
                    margin-right: 5px;
                    padding: 5px;
                    color: white;
                    border-radius: 5px;
                    font-size: 12px;
                    margin-bottom:5px;
                    overflow: auto;
                    scrollbar-width: none;

                    &.comic {
                        background-color: $purple-1-hover;
                    }

                    &.stories {
                        background-color: $pink-1;
                    }

                    &.events {
                        background-color: $orange-1;
                    }

                    &.series {
                        background-color: $green-1;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .information, .content {
        width: 100% !important;
        border-radius: 0px !important;
    }

    .content {
        flex-wrap: wrap;
        padding-bottom:20px;

        .block {
            width: 100% !important;
            height: auto !important;
        }
    }
}