@use "@utils/colors" as *;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;

  .marvel-logo {
    width: 200px;
    margin-left:-100px;
  }

  .options {
    .highlight {
      color: white;
      background-color: $purple-1;
    }

    a {
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      background-color: transparent;
      margin-left: 5px;
      margin-right: 5px;
      color: $red-1-light;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $red-1-light;
        background-color: $purple-1;
      }
    }
  }

  .divider {
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: $red-1-light;
    opacity: 0.3;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .header {
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 30px;

    .marvel-logo {
      width: 120px;
      margin-top:20px;
      margin-left:-5px;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      text-align: center;
      a {
        text-align: center;
      }
    }

    .divider {
      display: none;
    }
  }
}
