$purple-1: rgb(101, 101, 245);
$purple-1-light: rgb(141, 141, 240);
$purple-1-hover: rgb(65, 65, 182);

$red-1: #ed1d24;
$red-1-hover: rgb(138, 22, 22);
$red-1-dark: rgb(143, 42, 42);
$red-1-dark2: rgb(122, 36, 36);
$red-1-light: rgb(253, 217, 217);

$green-1: rgb(38, 94, 38);
$orange-1: rgb(199, 125, 29);
$pink-1: rgb(146, 39, 57);
$gray-1: rgb(68, 75, 74);
$cyan-1: rgb(3, 65, 54);

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}