@use '@utils/colors' as *;

.base-page {
    background-image: url('../../assets/dashboard-background.jpg');
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .base-page-container {
        width: calc(90% - 100px);
        height: calc(90% - 50px);
        background: linear-gradient(184deg, rgba(83,18,18,.7) 0%, $red-1-dark 36%);
        border-radius: 50px;
        padding:50px;
        padding-top:40px;
        box-shadow: 0px 0px 30px 0px black;
        overflow: hidden;
    }

    .base-content {
        width: 100%;
        height: 85%;
    }
}

@media (max-width: 900px) {
    .base-page-container {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0px !important;
        padding: 10px !important;
    }

}